/* global overrides */

.unit_list #wrapper, .unit_list .metro_header, .unit_list .metro_footer {
    width: 100%
}

table.unit-list-2014 td.info {
    width: unset;
}

body.unit_list table.unit-list-2014 {
    table-layout: fixed;
}

/* end global overrides */

.bold {
    font-weight: bold !important;
}
.center {
    text-align: center !important;
}

.full-w {
    width: 100%;
}

.nns-bg {
    background: #aee9ae;
}

.hidden {
    display: none !important;
}

.mb-3 {
    margin-bottom: 3px;
}

.nns-table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}
.nns-table thead {
    background: #aee9ae;
}
.nns-table th {
    vertical-align: middle;
    font-size: 12px;
    text-align: left;
    padding: 6px 0 6px 5px;
    border-bottom: 2px solid #676767;
}

.nns-button {
    background-color: #02b002;
    color: white;
    font-size: small;
    border: 0;
    padding: 1px 5px;
}
.nns-button:hover {
    background-color: #35bf24;
}
.nns-button:active {
    background-color: #179f35;
}

.nns-button-danger {
    background: #D81E1E;
}
.nns-button-danger:hover {
    background-color: #CC0202;
}
.nns-button-danger:active {
    background-color: #9E1616;
}

select.nns-select option {
    padding: 0 3px;
}

.nns-input {
    border: 1px;
    padding: 1px 3px;
    border-radius: 0 !important;
}

.cell-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.help {
    width: 15px;
    height: 15px;
    font-weight: bold;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    background: #0184D0;
    line-height: 15px;
    border-radius: 8px;
}

/* Management - prices */
/* th.management-separator {
    border-left: 2px solid #676767;
} */

.management-separator {
    border-left: 1px solid rgb(220, 220, 220, 0.5);
}

/* End of Management - prices */

/* Shop prices */

.localInfoColor {
    color: blueviolet;
}
#nns-groupConfig {
    display: flex;
    background-color: #aee9ae;
    padding: 2px;
    margin: 0 2px;
}
.nns-config_group, .nns-config_group > * {
    display: inline-block;
}
.nns-qualityBonus, .nns-brandBonus, .nns-minPrice {
    width: 40px;
}
#nns-groupConfig .nns-label {
    font-weight: bold;
    font-size: 0.9em;
    padding-top: 2px;
}
#nns-groupConfig .nns-controls {
    flex-grow: 1;
    text-align: right;
}
.nns-cont {
    min-width: 170px;
}
