/* global overrides */
#wrapper, .metro_header, .metro_footer {
    width: 100%
}
table.unit-list-2014 td.info {
    width: unset;
}

/* end global overrides */

.nns-bg {
    background: #aee9ae;
}

.nns-table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}
.nns-table thead {
    background: #aee9ae;
}
.nns-table th {
    vertical-align: middle;
    font-size: 12px;
    text-align: left;
    padding: 6px 0 6px 5px;
    border-bottom: 2px solid #676767;
}

.nns-button {
    background-color: #02b002;
    color: white;
    font-size: small;
    border: 0;
    padding: 1px 5px;
}

.nns-button-danger {
    background: red;
}

.nns-input {
    width: 100%;
    border: 1px;
    padding: 1px 5px;
    border-radius: 0 !important;
}

.cell-wrapper {
    display: flex;
    justify-content: center;
}

/* filter units */

/* shop prices */

.localInfoColor {
    color: blueviolet;
}
#qps_groupConfig {
    display: flex;
    background-color: #aee9ae;
    padding: 2px;
    margin: 0 2px;
}
.qps_config_group, .qps_config_group > * {
    display: inline-block;
}
.qps_qualityBonus, .qps_brandBonus, .qps_minPrice {
    width: 40px;
}
#qps_groupConfig .qps_label {
    font-weight: bold;
    font-size: 0.9em;
    padding-top: 2px;
}
#qps_groupConfig .qps_controls {
    flex-grow: 1;
    text-align: right;
}
.qps_cont {
    min-width: 170px;
}
.qps_input {
    border: 1px;
    padding: 1px 5px;
}
.qps_button {
    background-color: #02b002;
    color: white;
    font-size: small;
    border: 0;
    padding: 1px 5px;
}
.qps_button:hover {
    background-color: #35bf24;
}
.qps_button:active {
    background-color: #179f35;
}